.App {
  text-align: center;
}

.Table
{
  margin: auto;
  width: 100%;
}

.MaterialTable:nth-child(even){
  background-color:red;
  }

.MaterialTable:nth-child(odd){
  background-color:black;
  }

  
  .Line {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .oneLine {
    height: auto;
    margin-right: 8px;
  }
  .up{
    padding-top: 20px;
  }

  .up + div{
      margin-right: 80px;
  }